{
	"root": true,
  	"parser": "@typescript-eslint/parser",
  	"plugins": [
		"@typescript-eslint"
  	],
  	"extends": [
    	"eslint:recommended",
		"plugin:@typescript-eslint/recommended",
		"plugin:react/recommended",
		"prettier"
  	],
	"overrides": [{
		"files": ["**/*.tsx"],
		"rules": {
			"@typescript-eslint/explicit-module-boundary-types": "off",
			"react/prop-types": "off",
			"react/jsx-props-no-spreading": "off",
		}
	}]
}
