:root {
  font-size: 16px;
  font-family: 'Open Sans';
  --light: #ccc;
  --secondary: #b28ed8;
  --dark: #333;
}

main {
  margin-left: 5rem;
  padding: 1rem;
  margin-right: 10rem;
}
@media only screen and (max-width: 600px) {
  .navbar {
    bottom: 0;
    width: 100vw;
    height: 5rem;
  }

  .logo {
    display: none;
  }

  .navbar-list {
    flex-direction: row;
    width: 100%;
  }
  .navbar-item:last-child {
    margin-left: auto;
  }

  .nav-link {
    justify-content: center;
  }

  main {
    margin: 0;
  }
}

/* Large screens */
@media only screen and (min-width: 600px) {
  .navbar {
    width: 5rem;
    height: 100vh;
  }

  .navbar:hover {
    width: 16rem;
  }

  .navbar:hover .navbar-text {
    display: block;
  }

  .navbar-item {
    display: flex;
    align-items: center;
    height: 5rem;
    width: 100%;
  }
  .navbar-item:last-child {
    margin-top: auto;
  }
  .navbar-list {
    flex-direction: column;
  }

  /* .navbar:hover .logo svg
  {
    margin-left: 11rem;
  }

  .navbar:hover .logo-text
  {
    left: 0px;
  } */
}
.basic-slide {
  display: inline-block;
  /* width: min(215px, 100%); */
  width: 90%;
  padding: 10px 0 10px 15px;
  /* font-family: "Open Sans", sans; */
  font-weight: 400;
  background: #efefef;
  border: 0;
  border-radius: 3px;
  outline: 0;
  margin-bottom: 5px;
  margin-right: 5px;
  /* text-indent: 70px;  */
}
.basic-slide:disabled {
  /* background-color: #f8f8f8; */
  background-color: #dfdfdf;
  color: black;
  font-weight: 800;
}
.checkbox {
  display: inline-flex;
  cursor: pointer;
  position: relative;
}

.checkbox > span {
  color: #34495e;
  padding: 0.5rem 0.25rem;
}

.checkbox > input {
  height: 25px;
  width: 25px;
  -webkit-appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
  appearance: none;
  border: 1px solid var(--dark);
  border-radius: 4px;
  outline: none;
  transition-duration: 0.3s;
  background-color: var(--secondary);
}

.checkbox > input:checked {
  border: 1px solid var(--secondary);
  background-color: var(--dark);
}

.checkbox > input:checked + span::before {
  content: '\2713';
  display: block;
  text-align: center;
  color: var(--secondary);
  position: absolute;
  left: 0.7rem;
  top: 0.2rem;
  font-size: 15px;
}

.checkbox > input:active {
  border: 2px solid var(--dark);
}
.navbar {
  position: fixed;
  background-color: var(--dark);
  transition: 200ms ease;
}
.navbar-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  height: 100%;
}

.navbar-text {
  display: none;
  margin-left: 1rem;
}
/* .navbar:hover .navbar-text {
  display: block;
} */

.navbar-link {
  color: var(--light);
  text-decoration: none;
  display: flex;
  align-items: center;
  width: 100%;
  transition: 200ms ease;
}

.navbar-link i {
  font-size: 2rem;
  width: 2rem;
  min-width: 2rem;
  margin: 0 1.5rem;
  transition: 200ms ease;
}
.navbar-link:hover {
  color: var(--secondary);
  height: 5rem;
  background-color: #222;
}

.App {
  text-align: center;
}
.grid-container {
  display: grid;
  grid-template-columns: 35% 30% auto;
}
.grid-item {
  padding: 10px;
  text-align: center;
}
.entry-row {
  transition: 200ms ease;
  border-radius: 10px;
  margin-top: 5px;
  margin-bottom: 5px;
}
.row-regular {
  background-color: #eee;
}

.row-opened {
  background-color: #dac4f2;
}

.row-regular:hover {
  background-color: #e5e5e5;
}
.no-border {
  border: none;
}
.entry-detailed {
  margin-top: 5px;
  margin-bottom: 5px;
}

h3 {
  color: var(--secondary);
}
h4 {
  color: var(--dark);
}
.grid-container-2-equal {
  display: grid;
  grid-template-columns: 50% auto;
  padding: 0;
}
.word-title {
  color: var(--secondary);
  font-weight: bold;
  font-size: 1.5rem;
  margin-right: 1rem;
}
.round-button {
  border: none;
  border-radius: 50%;
  background: var(--secondary);
  color: var(--dark);
  text-align: center;
  width: 50px;
  height: 50px;
  position: fixed;
  right: 50px;
  bottom: 50px;
}

.submit-button {
  border: none;
  border-radius: 3px;
  padding: 5px 5px;
  font-weight: bold;
  color: var(--dark);
  background: var(--secondary);
}
.confirm-button {
  border: none;
  border-radius: 3px;
  width: min(100%, 300px);
  background: var(--secondary);
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 10px;
  font-weight: bold;
  margin: auto;
}
.search-container {
  margin: 1rem;
  margin-left: 0;
}
.search-submit {
  height: 2.35rem;
  width: 2.35rem;
}
.search-input {
  height: 2rem;
}

.solid {
  border-top: 1px solid rgba(0, 0, 0, 0.2);
}

label {
  font-size: 0.6rem;
  font-weight: bold;
}

.gender-letter {
  width: 25px;
  height: 25px;
  line-height: 25px;
  border-radius: 50%;
  font-weight: bold;
  color: #fff;
  text-align: center;
}

.gender-m {
  background-color: #1d3678;
}
.gender-f {
  background-color: #952e42;
}
.gender-n {
  background-color: #333;
}

.center {
  display: table-cell;
  vertical-align: middle;
}
.page:enabled {
  background-color: Transparent;
}
.page:disabled {
  background-color: var(--secondary);
}
.page {
  border: none;
  padding: 5px 10px;
  border-radius: 10px;
  color: black;
}

.dialog {
  width: min(600px, 50%);
  height: 60%;
  overflow-y: auto;
  border-radius: 10px;
  border: none;
}
.dialog::-webkit-scrollbar,
body::-webkit-scrollbar {
  width: 0.5rem;
  right: 10px;
}
.dialog::-webkit-scrollbar-track,
body::-webkit-scrollbar-track {
  background: #fff;
  border-radius: 10px;
}

.dialog::-webkit-scrollbar-thumb,
body::-webkit-scrollbar-thumb {
  background: var(--secondary);
  border-radius: 10px;
}

.container {
  position: relative;
}
.entry-detailed {
  background-color: #f2f2f2;
  border-radius: 10px;
  padding: 10px;
  padding-left: 20px;
  /* border: none;
  margin-left: 1rem; */
}

.dialog-overlay {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  padding: 50px 0;
}

.sticky {
  position: sticky;
}

.topright {
  position: absolute;
  top: 8px;
  right: 8px;
  font-size: 18px;
  color: var(--secondary);
}

img {
  width: 100%;
  height: auto;
  opacity: 0.3;
}
